Data/SST_data.mat filter=lfs diff=lfs merge=lfs -text
ForecastingResults/truth.npy filter=lfs diff=lfs merge=lfs -text
ForecastingResults/reconstructions.npy filter=lfs diff=lfs merge=lfs -text
ForecastingResults/recon_reconstructions.npy filter=lfs diff=lfs merge=lfs -text
ForecastingResults/forecast_reconstructions.npy filter=lfs diff=lfs merge=lfs -text
ForecastingResults/forecast_truth.npy filter=lfs diff=lfs merge=lfs -text
ForecastingResults/recon_truth.npy filter=lfs diff=lfs merge=lfs -text
recon_qrpodreconstructions.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/qrpodreconstructions.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/reconstructions.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/truth.npy filter=lfs diff=lfs merge=lfs -text
Data/cylinder/VORTALL.csv filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor10lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor10lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/truth.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor10lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor10lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor10.npy filter=lfs diff=lfs merge=lfs -text
Data/ReconstructingResults/oresund_forcing/* filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/oresund_forcing/* filter=lfs diff=lfs merge=lfs -text
ReconstrucingResults/* filter=lfs diff=lfs merge=lfs -text
ReconstrucingResults/oresund_forcing_U filter=lfs diff=lfs merge=lfs -text
ReconstrucingResults/oresund_forcing_U/* filter=lfs diff=lfs merge=lfs -text
ReconstrucingResults/oresund_forcing_V/* filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/oresund_forcing_V/qrpodreconstructions_forcing_sensor6lag52_1y.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor10lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor1lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor9lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor1lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor75lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor20lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor2lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor40lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor4lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor30lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor15lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor3lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor6lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor8lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor15lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor3lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor75lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor3lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor7lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor9lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor50lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor2lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor30lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor6lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor1lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor2lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor1lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor50lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor75lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor75lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor20lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor4lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor4lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor5lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor8lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor4lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor6lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor20lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor6lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor7lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor50lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor8lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor9lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor20lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor1lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor40lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor7lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor20lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor7lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor7lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor15lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor5lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor3lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor50lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor9lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor5lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor6lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor5lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor30lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor8lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor5lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor50lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor9lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor4lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor40lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor15lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor8lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor3lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor40lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor2lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor40lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor30lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor75lag10.sav filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor15lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor30lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/scaler_sensor2lag10.sav filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor15lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor6lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor75lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor8lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor1lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor30lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor3lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor5lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor2lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor4lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor50lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor7lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor10lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor20lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor40lag10.pt filter=lfs diff=lfs merge=lfs -text
models/cylinder/shred_reconstruction_sensor9lag10.pt filter=lfs diff=lfs merge=lfs -text
