/__pycache__
Data/Area.dfsu
Data/Area_1year.dfsu
Data/Area_5m.dfsu

Data/cylinder/UEXTRA.csv
Data/cylinder/UALL.csv
Data/cylinder/VALL.csv
Data/cylinder/VEXTRA.csv
Data/cylinder/VORTEXTRA.csv
Data/CYLINDER_ALL.mat
Data/oresund/BC_SFC_North_2D_2014-2024.dfs1
Data/oresund/BC_SFC_South_2D_2014-2024.dfs1
Data/Area_1y.dfsu
Data/oresund/BCn_1y.dfs1
Data/oresund/BCs_1y.dfs1
