Data/SST_data.mat filter=lfs diff=lfs merge=lfs -text
ForecastingResults/truth.npy filter=lfs diff=lfs merge=lfs -text
ForecastingResults/reconstructions.npy filter=lfs diff=lfs merge=lfs -text
ForecastingResults/recon_reconstructions.npy filter=lfs diff=lfs merge=lfs -text
ForecastingResults/forecast_reconstructions.npy filter=lfs diff=lfs merge=lfs -text
ForecastingResults/forecast_truth.npy filter=lfs diff=lfs merge=lfs -text
ForecastingResults/recon_truth.npy filter=lfs diff=lfs merge=lfs -text
recon_qrpodreconstructions.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/qrpodreconstructions.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/reconstructions.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/truth.npy filter=lfs diff=lfs merge=lfs -text
Data/cylinder/VORTALL.csv filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor10lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/singularvals_sensor10lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/truth.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/qrpodreconstructions_sensor10lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/reconstructions_sensor10lag10.npy filter=lfs diff=lfs merge=lfs -text
ReconstructingResults/cylinder/sensor_locations_sensor10.npy filter=lfs diff=lfs merge=lfs -text
